<html>
  <title>Go upload</title>
  {{.Name}}
  <body>

  <form action="http://localhost:3000/upload" method="post" enctype="multipart/form-data">
  <label for="file">Filename:</label>
  <input type="file" name="file1" id="file1">

    <label for="file">Filename:</label>
  <input type="file" name="file2" id="file2">
  <input type="submit" name="submit" value="Submit">
  </form>

  </body>
  </html>