<!doctype html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="css/style.css">

  <title>Go upload</title>
  <body>
<!--   	<h1><<.Filename>> IN STATIC</h1>
 -->
  <table id="facebook" style="display:none;" ng-app="facebookApp" ng-controller="facebookController">
  <!-- 	<tr>
  		<td>
  <form action="http://localhost:3000/upload" method="post" enctype="multipart/form-data">
  <label for="file">Filename:</label>
  <input type="file" name="file" id="file">
  <input type="submit" name="submit" value="Submit">
  </form>
  <button ng-click="addMessage()">Add Message</button> -->
</td>
  		<td>
			<div>
			</div>
			<div id="generated_conversation">
					<ul class="ChatLog">


    				<li ng-click="changeMessage($index)" ng-repeat="message in messages" ng-class="{ChatLog__entry: true==true, ChatLog__entry_mine: message.user==1}">

			    <img class="ChatLog__avatar" ng-src="{{imageURL}}" />
					    <p class="ChatLog__message">
					        {{message.msg}}
				      <time class="ChatLog__timestamp">6 minutes ago</time>
					    </p>
    				</li>
					</ul>
			</div>
		</td>
	</tr>
<table>

  </body>


<script>

var type = getParameterByName("type");
document.getElementById(type).style.display = 'block';

function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

var facebookApp = angular.module("facebookApp", []); 
facebookApp.controller("facebookController", function($scope) {
    $scope.messages = [];

    var flag = true;
    var message;
    var user;
    var i = 1;
    while(flag == true){
    	msg = getParameterByName("message"+i);
    	user = getParameterByName("user"+i);
    	if(user == null | user == "" | user == undefined){
    		flag = false;
    		break;
    	}else{
			$scope.messages.push({"user": user, "msg":msg});
    	}
    	console.log($scope.messages);
    	i++;
    }

    $scope.imageURL = getParameterByName("imageURL");

    $scope.addMessage = function(){
		$scope.messages.push({"user": 1, "msg":"test"});
	}

	$scope.changeMessage = function(index){
		if($scope.messages[index].user == 0){
			$scope.messages[index].user = 1;
		}else{
			$scope.messages[index].user = 0;
		}
		$scope.$apply();
  };
});

  </script>
  </html>