<!doctype html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="css/style.css">

  <title>Go upload</title>
  <body>
  	<h1><<.Filename>> IN STATIC</h1>

  <table ng-app="fakeFacebookMessages" ng-controller="messagesController">
  	<tr>
  		<td>
  <form action="http://localhost:3000/upload" method="post" enctype="multipart/form-data">
  <label for="file">Filename:</label>
  <input type="file" name="file" id="file">
  <input type="submit" name="submit" value="Submit">
  </form>
  <button ng-click="addMessage()">Add Message</button>
</td>
  		<td>
			<div>
			</div>
			<div id="generated_conversation">
					<ul class="ChatLog">


    				<li ng-click="changeMessage($index)" ng-repeat="message in messages" ng-class="{ChatLog__entry: true==true, ChatLog__entry_mine: message.user==1}">

			    <img class="ChatLog__avatar" src="" />
					    <p class="ChatLog__message">
					        {{message.msg}}
				      <time class="ChatLog__timestamp">6 minutes ago</time>
					    </p>
    				</li>
					</ul>
			</div>
		</td>
	</tr>
<table>



  </body>


<script>



var app = angular.module("fakeFacebookMessages", []); 
app.controller("messagesController", function($scope) {
    $scope.messages = [];

    $scope.addMessage = function(){
		$scope.messages.push({"user": 1, "msg":"test"});
	}

	$scope.changeMessage = function(index){
		if($scope.messages[index].user == 0){
			$scope.messages[index].user = 1;
		}else{
			$scope.messages[index].user = 0;
		}
		$scope.$apply();
  };
});

  </script>
  </html>