<!doctype html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/twitter_style.css">

  <title>Go upload</title>
  <body>
<!--   	<h1><<.Filename>> IN STATIC</h1>
 -->

<div id="twitter" ng-app="twitterApp" ng-controller="twitterController" class="permalink-inner permalink-tweet-container" style="width: 600px;display:none;">


    <div class="tweet permalink-tweet js-actionable-user js-actionable-tweet js-original-tweet
         with-social-proof 

        
        
          
          js-initial-focus
" data-associated-tweet-id="812266152684650496" data-tweet-id="812266152684650496" data-item-id="812266152684650496" data-permalink-path="/realDonaldTrump/status/812266152684650496" data-tweet-nonce="812266152684650496-69254a16-74e8-4181-b1b7-87188e712ad9" data-screen-name="realDonaldTrump" data-name="Donald J. Trump" data-user-id="25073877" data-you-follow="false" data-follows-you="false" data-you-block="false" data-disclosure-type="" tabindex="0">

      
        <div class="content clearfix">
          <div class="permalink-header">
              

    
    <div class="follow-bar">
      <div class="user-actions btn-group not-following  " data-user-id="25073877" data-screen-name="realDonaldTrump" data-name="Donald J. Trump" data-protected="false">



    


  <button class="user-actions-follow-button js-follow-btn follow-button btn" type="button">
  <span class="button-text follow-text">
     <span class="Icon Icon--follow"></span> Follow 
    
  </span>
  <span class="button-text following-text">
     Following 
    
  </span>
  <span class="button-text unfollow-text">
     Unfollow 
    
  </span>
  <span class="button-text blocked-text">Blocked</span>
  <span class="button-text unblock-text">Unblock</span>
  <span class="button-text pending-text">Pending</span>
  <span class="button-text cancel-text">Cancel</span>
</button>



</div>

    </div>


   
    <img class="avatar js-action-profile-avatar" ng-src="{{imageURL}}" alt="">
    <strong class="fullname js-action-profile-name show-popup-with-id" data-aria-label-part="">{{profileAlias}}<span class="Icon Icon--verified Icon--small">
  <span class="u-hiddenVisually">Verified account</span>
</span></strong>
    <span>‏</span><span class="username js-action-profile-name" data-aria-label-part=""><s>@</s><b>{{profileName}}</b></span>

            
            <small class="time">
  <a href="/realDonaldTrump/status/812266152684650496" class="tweet-timestamp js-permalink js-nav js-tooltip" title="3:58 AM - 23 Dec 2016"><span class="_timestamp js-short-timestamp js-relative-timestamp" data-time="1482494316" data-time-ms="1482494316000" data-long-form="true" aria-hidden="true">4h</span><span class="u-hiddenVisually" data-aria-label-part="last">4 hours ago</span></a>
</small>

          </div>
        </div>


      
        <div class="js-tweet-text-container">
  <p class="TweetTextSize TweetTextSize--26px js-tweet-text tweet-text" lang="en" data-aria-label-part="0">{{tweet}}</p>
</div>



      
      

      <div class="js-tweet-details-fixer tweet-details-fixer">

  <div class="js-machine-translated-tweet-container"></div>
  <div class="js-tweet-stats-container tweet-stats-container">      

<ul class="stats" aria-label="Retweeted and favorited by">
    <li class="js-stat-count js-stat-retweets stat-count" aria-hidden="true">
      <a tabindex="0" role="button" data-tweet-stat-count="6891" data-compact-localized-count="6.9K" class="request-retweeted-popup" data-activity-popup-title="6,891 retweets">
          
          Retweets <strong>6,891</strong>
      </a>
    </li>

    <li class="js-stat-count js-stat-favorites stat-count" aria-hidden="true">
      <a tabindex="0" role="button" data-tweet-stat-count="27701" data-compact-localized-count="28K" class="request-favorited-popup" data-activity-popup-title="27,701 likes">
          
          Likes <strong>27,701</strong>
      </a>
    </li>

  <li class="avatar-row js-face-pile-container">
      <a class="js-profile-popup-actionable js-tooltip" href="/Itsevanb" data-user-id="457912575" original-title="evan🚼" rel="noopener" data-original-title="evan🚼">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/809644419402108929/OpL67czQ_normal.jpg" alt="evan🚼">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/a_lovett10" data-user-id="2280847273" original-title="Ashlin Lovett" title="Ashlin Lovett" rel="noopener">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/776996196963393536/GvJ-jtw7_normal.jpg" alt="Ashlin Lovett">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/RochelleRMiller" data-user-id="128633850" original-title="Rochelle Miller" title="Rochelle Miller" rel="noopener">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/3582310247/b06997a5c9f70b7577996d0fd806da67_normal.jpeg" alt="Rochelle Miller">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/bernardshuford" data-user-id="9109922" original-title="Ragamuffin Wannabe" title="Ragamuffin Wannabe" rel="noopener">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/809422646253338624/NUDobD23_normal.jpg" alt="Ragamuffin Wannabe">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/JakeJHerron" data-user-id="1713006337" original-title="Jake Herron" rel="noopener" data-original-title="Jake Herron">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/753300712767926272/H2fQ61qq_normal.jpg" alt="Jake Herron">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/YEckhardt" data-user-id="1117279740" original-title="yvonne" title="yvonne" rel="noopener">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/794367765490434048/S6X-ClUE_normal.jpg" alt="yvonne">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/Renegade13GV2" data-user-id="1223466703" original-title="Eric Diehl" title="Eric Diehl" rel="noopener">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/796361971146911746/LDAXLjo1_normal.jpg" alt="Eric Diehl">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/Cmelfy24" data-user-id="346183804" original-title="chris melfa" title="chris melfa" rel="noopener">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/664796174449266688/M7PDPNEC_normal.jpg" alt="chris melfa">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/natalieacn" data-user-id="2820109340" original-title="Nat💘" title="Nat💘" rel="noopener">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/808890822557134855/xMrnx-a7_normal.jpg" alt="Nat💘">
</a>
  </li>
</ul>


  </div>

  <div class="client-and-actions">
  <span class="metadata">
    <span>3:58 AM - 23 Dec 2016</span>
      
  </span>
</div>


</div>


      
      <div class="stream-item-footer">
          


        
            <div class="ProfileTweet-actionCountList u-hiddenVisually">
    
    
    <span class="ProfileTweet-action--reply u-hiddenVisually">
      <span class="ProfileTweet-actionCount" data-tweet-stat-count="9909">
        <span class="ProfileTweet-actionCountForAria" data-aria-label-part="">9,909 replies</span>
      </span>
    </span>
    <span class="ProfileTweet-action--retweet u-hiddenVisually">
      <span class="ProfileTweet-actionCount" data-tweet-stat-count="6891">
        <span class="ProfileTweet-actionCountForAria" data-aria-label-part="">6,891 retweets</span>
      </span>
    </span>
    <span class="ProfileTweet-action--favorite u-hiddenVisually">
      <span class="ProfileTweet-actionCount" data-tweet-stat-count="27701">
        <span class="ProfileTweet-actionCountForAria" data-aria-label-part="">27,701 likes</span>
      </span>
    </span>
  </div>

  <div class="ProfileTweet-actionList js-actions" role="group" aria-label="Tweet actions">
    <div class="ProfileTweet-action ProfileTweet-action--reply">
  <button class="ProfileTweet-actionButton u-textUserColorHover js-actionButton js-actionReply" data-modal="ProfileTweet-reply" type="button">
    <div class="IconContainer js-tooltip" title="Reply">
      <span class="Icon Icon--reply"></span>
      <span class="u-hiddenVisually">Reply</span>
    </div>
      <div class="IconTextContainer">
        <span class="ProfileTweet-actionCount ">
          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">9.9K</span>
        </span>
      </div>
  </button>
</div>
    <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
  <button class="ProfileTweet-actionButton  js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
    <div class="IconContainer js-tooltip" title="Retweet">
      <span class="Icon Icon--retweet"></span>
      <span class="u-hiddenVisually">Retweet</span>
    </div>
      <div class="IconTextContainer">
        <span class="ProfileTweet-actionCount">
          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">6.9K</span>
        </span>
      </div>
  </button><button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
    <div class="IconContainer js-tooltip" title="Undo retweet">
      <span class="Icon Icon--retweet"></span>
      <span class="u-hiddenVisually">Retweeted</span>
    </div>
      <div class="IconTextContainer">
        <span class="ProfileTweet-actionCount">
          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">6.9K</span>
        </span>
      </div>
  </button>
</div>

    <div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
  <button class="ProfileTweet-actionButton js-actionButton js-actionFavorite" type="button">
    <div class="IconContainer js-tooltip" title="Like">
      <div class="HeartAnimationContainer">
        <div class="HeartAnimation"></div>
      </div>
      <span class="u-hiddenVisually">Like</span>
    </div>
      <div class="IconTextContainer">
        <span class="ProfileTweet-actionCount">
          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">28K</span>
        </span>
      </div>
  </button><button class="ProfileTweet-actionButtonUndo u-linkClean js-actionButton js-actionFavorite" type="button">
    <div class="IconContainer js-tooltip" title="Undo like">
      <div class="HeartAnimationContainer">
        <div class="HeartAnimation"></div>
      </div>
      <span class="u-hiddenVisually">Liked</span>
    </div>
      <div class="IconTextContainer">
        <span class="ProfileTweet-actionCount">
          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">28K</span>
        </span>
      </div>
  </button>
</div>

    


      <div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
    <div class="dropdown">
  <button class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle" type="button">
      <div class="IconContainer js-tooltip" title="More">
        <span class="Icon Icon--dots"></span>
        <span class="u-hiddenVisually">More</span>
      </div>
  </button>
  <div class="dropdown-menu">
  <div class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <ul>
    
      <li class="copy-link-to-tweet js-actionCopyLinkToTweet">
        <button type="button" class="dropdown-link">Copy link to Tweet</button>
      </li>
      <li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet">
        <button type="button" class="dropdown-link">Embed Tweet</button>
      </li>
  </ul>
</div>

</div>

  </div>

  </div>

      </div>

      <div class="permalink-footer">
        
      </div>
    </div>

  </div>


  </body>


<script>

var type = getParameterByName("type");
document.getElementById(type).style.display = 'block';

function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

var twitterApp = angular.module("twitterApp", []); 
twitterApp.controller("twitterController", function($scope) {

    $scope.imageURL = getParameterByName("imageURL");
    $scope.tweet = getParameterByName("tweet");
    $scope.profileName = getParameterByName("profileName");
    $scope.profileAlias = getParameterByName("profileAlias");

});

  </script>
  </html>